// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~air-datepicker/dist/css/datepicker.css';

.year-chevron {
    display: inline-block;
    transition: transform 0.2s ease;
    &.open {
        transform: rotate(90deg);
    }
}